@include mobile {
    .block {
        width: 100%;
        background: $g-color;
        @include flex-center;
        flex-direction: column-reverse;

        &-img {
            margin-top: 50px;
            width: 100%;

            img {
                width: 100%;
            }
        }

        &-title {
            margin: 60px 0 0;
            width: 290px;
            height: 260px;
            @include flex-start;
            @include flex-column;

            &__name {
                font-size: 26px;
                line-height: 49px;
                color: $b-color;
            }

            &__descr {
                font-size: $px-size-mbile-s;
                line-height: 120.62%;
                color: $b-color;
                text-align: justify
            }

            &__btn {
                @include flex-center;
                width: 180px;
                height: 45px;
                background: none;
                border-radius: $radius;
                border: 1px solid $main-color;
                text-transform: $upper-case;
                font-size: $px-size-mbile-xs;
                color: $main-color;
            }
        }
    }
}