// colors
$main-color: #F7941E;
$b-color: #000000;
$b-second-color: #231F20;
$g-color: #F1F1F2;
$g-second-color: #FAFAFA;
$w-color: #FFFFFF;

// brakepoints
$bp-phone-xs: 320;
$bp-phone-s: 375;
$bp-phone-m: 414;
$bp-phone-l: 590;

$bp-tablet: 680;
$bp-tablet-m: 768;

$bp-desktop: 1024;
$bp-desktop-l: 1280;
$bp-desktop-xl: 1300;

// fonts
$m-font-rg: 'Gilroy-Regular';
$m-font-sb: 'Gilroy-Semibold';
$m-font-b: 'Gilroy-Bold';

$semi-bold: bold;
$bold: bolder;

// font size
$px-size-mbile-xs: 14px;
$px-size-mbile-s: 16px;

$px-size-normal: 18px;
$px-size-middle: 20px;

// radius
$radius: 5px;

// uppercase
$upper-case: uppercase;